 * {
    box-sizing: border-box;
} 

body {
    background-color: black;
}

header {
    background-color: rgb(154, 103, 8);
}

header h1 {
    font-size: 42px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    height: 600px;
    width: 400px;
    background-color: rgba(219, 167, 55, 0.995);
    align-items: center;
    margin: auto;  
    padding: 15px;
}
.sub-container {    
    width: 60%;
    height: 40%;
    margin: 20px auto;     
    padding: 50px;      
    background-color: rgb(53, 202, 228);
    border: 5px solid blue;
    
}

.recipe {
    font-size: 22px;
    font-weight: 800;
    text-align: center;    
}



